<html lang="ru">
<head>
    <title>Добавление персональных данных</title>
        <meta charset="utf-8">
<!--        <link rel="stylesheet" href="css/styles.css">-->
<!--        <link rel="stylesheet" href="css/bootstrap-5.0.0/css/bootstrap.css">-->
<!--        <link href="js/lib/kladr/jquery.fias.min.css" rel="stylesheet">-->
<!--        <script src="js/const/api.js" type="text/javascript"></script>-->
<!--        <script src="js/lib/jquery/jquery-1.11.1.min.js" type="text/javascript"></script>-->
<!--        <script src="js/lib/kladr/jquery.fias.min.js" type="text/javascript"></script>-->
<!--        <script src="js/add_personal_data.js" type="text/javascript"></script>-->

    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-5.0.0/css/bootstrap.css}">
    <link th:href="@{/js/lib/kladr/jquery.fias.min.css}" rel="stylesheet">
    <script th:src="@{/js/const/api.js}" type="text/javascript"></script>
    <script th:src="@{/js/lib/jquery/jquery-1.11.1.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/lib/kladr/jquery.fias.min.js}" type="text/javascript"></script>
    <script th:src="@{/js/add_personal_data.js}" type="text/javascript"></script>
    <script th:src="@{/js/utils/redirect.js}" type="text/javascript"></script>
    <script th:src="@{/js/const/keys.js}" type="text/javascript"></script>


</head>
<body>
<div class="registration">
    <h1>Введите персональные данные</h1>

    <div class="field" id="surname_div">
        <input id="surname_input" placeholder="фамилия">
    </div>

    <div class="field" id="name_div">
        <input id="name_input" placeholder="имя">
    </div>

    <div class="field" id="middle_name_div">
        <input id="middle_name_input" placeholder="отчество">
    </div>

    <div id="passport_number_div" class="field">
        <input id="passport_number_input" type="number" placeholder="номер пасспорта">
    </div>
    <div class="field" id="date_of_birthday_div">
        <input id="date_of_birthday_input" type="date" placeholder="дата рождения">
    </div>

    <div id="address_div" class="field">
        <input name="address" id="address_input" type="text" value="" placeholder="Адрес">
    </div>

    <div class="field">
        <button id="create_button" class="btn btn-primary" type="button" onclick="add()">Поддтвердить</button>
    </div>
</div>

</body>
</html>