<html lang="ru">
<head>
    <title>Регистрация</title>
    <meta charset="utf-8">

<!--    <link rel="stylesheet" href="css/styles.css">-->
<!--    <link rel="stylesheet" href="bootstrap-5.0.0/css/bootstrap.css">-->
<!--    <script src="js/const/api.js" type="text/javascript"></script>-->
<!--    <script src="js/registration.js" type="text/javascript"></script>-->

    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-5.0.0/css/bootstrap.css}">
    <script th:src="@{/js/const/api.js}" type="text/javascript"></script>
    <script th:src="@{/js/registration.js}" type="text/javascript"></script>
    <script th:src="@{js/utils/redirect.js}" type="text/javascript"></script>



</head>
<body>
<div class="registration">
    <h1> Форма регистрации пользователя</h1>

    <div class="field" id="login_div">
        <input id="login_input" placeholder="логин">
    </div>

    <div class="field" id="password_div">
        <input id="password_input" placeholder="пароль" type="password">
    </div>

    <div class="field" id="password_check_div">
        <input id="password_check_input" placeholder="пароль" type="password">
    </div>
    <div class="field">
        <button id="create_button" onclick="create()">Зарегестрироваться</button>
    </div>
</div>

</body>
</html>